img{
    height: 200px;
    width: 200px;
}
*{
    text-align: center;
}
#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
#purple{
    color: purple;
}
.color-title {
  font-weight: normal;
}